.middle_container {
  background: url(img/gitter.webp) right/ /* on the right */ 50% auto /* take only 50% of width */ no-repeat;
  background-color: #f0efef;
}

.bottom_container {
  background: url(img/gitter.webp) left/ /* on the right */ 50% auto /* take only 50% of width */ no-repeat;
  background-color: #f0efef;
}
