body {
  background-image: url(img/gitter.webp);
}

main {
  max-width: 1800px;
  margin-inline: auto;
  margin-bottom: 18rem;
  margin-top: 8rem;
  height: 35rem;
  background-color: #717e68;
}

h2 {
  margin-left: 8rem;
  padding: 2rem 0rem 0rem 0rem;
} 

.body_container a {
  color: #e3e3db;
  text-decoration: none;
}

.body_container a:link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 800;
  color: #e3e3db;
}

.body_container a:visited {
  color: #e3e3db;
}

/* MAIN INDEX*/
.body_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 28rem;
  gap: 0.5rem;
  text-align: center;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.div4 {
  grid-area: 2 / 1 / 3 / 2;
}

.div5 {
  grid-area: 2 / 2 / 3 / 2;
}

.div6 {
  grid-area: 2 / 3 / 3 / 4;
}

/*HOVER EFFEKT PÅ IMG PÅ INDEX.HTML*/
.hover-img {
  background-color: #000;
  color: #fff;
  display: inline-block;
  margin: 8px;
  max-width: 320px;
  min-width: 240px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.hover-img::before,
.hover-img::after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 32px solid rgba(0, 0, 0, 0.5);
  border-bottom: 32px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
}

.hover-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.hover-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hover-img:hover::before,
.hover-img:hover::after {
  transform: scale(1);
  opacity: 1;
}

.hover-img:hover > img {
  opacity: 0.7;
}

.hover-img:hover figcaption {
  opacity: 1;
}

@media (max-width: 1200px) {
  h2 {
    margin-left: 1rem;
    padding: 1rem 0rem 0rem 0rem;
  }

  .header_container h1 {
    font-size: 3.2rem;
  }

  .body_container {
    display: grid;
    grid-column-gap: 2rem;
    margin-inline: 0.5rem;

  }
}
