body {
  background-image: url(img/gitter.webp);
}

main {
  max-width: 1800px;
  margin-inline: auto;
  margin-bottom: 18rem;
  margin-top: 3rem;
  height: 55rem;
  background-color: #717e68;
}

h2 {
  margin-left: 8rem;
  padding: 2rem 0rem 0rem 0rem;
}
.body_container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.body_container p {
  padding: 2rem;
  grid-area: 1 / 2 / 2 / 3;
  font-size: 1.5rem;
}

/* MAIN INDEX*/
.body_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 28rem;
  gap: 0.5rem;
  text-align: center;
}

@media (max-width: 1200px) {
  h2 {
    margin-left: 1rem;
    padding: 1rem 0rem 0rem 0rem;
  }

  .header_container h1 {
    font-size: 2rem;
  }
}
