:root {
  --text-color: #f0efef;
  --bg-color: #2e2e2e;
}

body {
  font-family: termina, sans-serif;
  color: var(--text-color);
  background: var(--bg-color);
  max-width: 100%;
  width: 100%;
}
/*HEADER*/
.header_container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-left: 2rem;
  height: 30rem;
}

.header_container h2 { 
    font-size: 5rem;
    font-weight: 800;
    margin-top: 12rem;
    align-items: center;
}

li { 
    list-style: none;
    font-size: 1.5rem;
    margin-left: 30rem;
    padding: 0.5rem;
}

a:link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
    color: #f0efef;
}

a:visited {
    color: pink;
}


/*BANNER __ WHITE */
.banner_white {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f0efef;
    height: 10rem;
}




/*
.header_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10rem;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  margin-left: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-left: 3rem;
}

.header_container p {
  margin-top: 12rem;
  margin-left: 40rem;
}

.portfolio_container {
  background-color: #2e2e2e;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 30rem;
}
.portfolio_container p {
  color: #f0efef;
  margin-left: 7rem;
  margin-top: 10rem;
  font-size: 2rem;
  font-weight: 400;
}

img {
  width: 50%;
  object-fit: contain;
  align-self: center;
  margin-left: 10rem;
  background-color: #f0efef;
}

*/
