/*GENERELT*/
main {
  border: 0.5rem solid #717e68;
}

h2 {
  font-size: 2.5rem;
  display: flex;
  margin-top: 0rem;
}

p {
  font-size: 1.5rem;
}

.header_container {
  background-color: #f0efef;
}

.pdf {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*GRID CONTAINER 1*/
.top_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 5rem;
  background-color: #717e68;
  padding: 4rem;
  border-width: 10px;
}

.top_container img {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  align-items: center;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
  border: 0.3rem solid #2e2e2e;
}

/*GRID CONTAINER 2*/
.middle_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 5rem;
  padding: 4rem;
}

.div3 {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  align-items: center;
}
.div4 {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  align-items: center;
}

/*GRID CONTAINER 3*/
.bottom_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 5rem;
  padding: 4rem;
}

.div5 {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  align-items: center;
}
.div6 {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  align-items: center;
}

#link-hjemmeside-4 {
  margin-top: 0.5rem;
  color: #2e2e2e;
}

@media (max-width: 1200px) {
  .middle_container img {
    display: none;
  }

  .middle_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .bottom_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}
